@charset "utf-8";
/* CSS Document */

/*-------------container.css--------------*/


/*-----------------------------------------
This file styles the layout of following tags:

-cb-slideshow(homepage list of images)
-sidebar
-navigation

which are very basic elements of the site
------------------------------------------*/

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body{
	background: #FFFFFF;
	/* overflow-y: hidden;     //embedded to ALP/index.html
	overflow-x: hidden; */
}
.ie7 body{
	overflow:hidden;
}

.cb-slideshow {
	margin:0;
	padding:0;
}

#container {
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background:#FFFFFF;
	background-color:#FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		
	/*On click - no selection*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
		
	opacity: 1;

}


/*----------Sidebar-----------*/


.sidebar{
	/*position: absolute;*/
	float: left;
	width: 25%;
	margin-left: 10px;
	margin-top: 20px;
}

#logo{
	margin-left: 10px;
}

#horizontal_line{
	color: #000000;
	display: block;
	width: 350px;
	float:left;
}

.sidebar header a{
	text-decoration:none;
}

.sidebar nav {
	float:left;
	margin-left: 2%;
}

.sidebar nav ul li a{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color: #000000;
}

.sidebar nav ul li{
	list-style-type: none;
	padding: 9px;
}

.sidebar nav ul li a.active{	
	color: grey;
}

.sidebar nav ul li a:hover{
	color:#C5C5C5;
}
	
	
	
	
	
/* Navigation Box */

.navigation_menu_bar {
	display: inline;
	float: left;
	width: 33%;
	margin-top: 85px;
	margin-bottom: 2%;
}

.navigation_menu{
	margin-right:2px;
	font-weight: 400;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 15px;
	text-shadow: 0px 0px;
	display: inline;
	float: left;
}

.navigation_menu a{
	text-decoration: none;
	background-color: black;
	color: white;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;	
}

.navigation_menu a.active{	
	color: grey;
}

.navigation_menu a:hover{
	background-color: white;
	color: black;
}


/*------ Media Queries ------*/
	@media screen and (max-width:1199px) {
	
		.sidebar{
				width: 350px;	
			}

	}



	@media screen and (max-width: 767px) {
		
			.sidebar{
				float: none;
				width: 100%;
				margin-left: 0px;
				margin-top: 0px;
			}
			
			
			
			#logo {
				padding:5px 0px 5px 0px;
				text-align:center;
				float:none;
				width:98%;
				margin-left:1%;
				margin-right:1%;
			}
				
			#horizontal_line {
				clear:both;
				width:98%;
				margin-left: 1%;
				margin-right: 1%;
			}	
			
			
			
			
			
				
			.sidebar nav {
				width:98%;
				float:none;
				margin-left:1%;
				margin-right:1%;
				margin-top:20px;
			}
			
			.sidebar nav ul {
				width:100%;
				float:none;
				text-align:center;
				margin-right:0%;
				margin-top:0%;
				-webkit-padding-start: 0px;
			}
			
			.sidebar nav ul li {
				float:none;
				display:block;
				padding: 9px;
				margin-top:10px;
				margin-bottom:10px;
			}
		
		
		
		
		
			.navigation_menu_bar {
				visibility:hidden;
				height:0%;
				margin:0%;
			}
		
		
	}