@charset "utf-8";
/* CSS Document */

/*-------------slider.css--------------*/

/*-----------------------------------------
This file styles the layout of following tags:

-slider
-buttons

which are the basic elements of the image slider
------------------------------------------*/

.sidebar{
		width: 22%;	
	}
	
#horizontal_line {
		width:100%;
}

#maincontent {
		margin-top:85px;
		width:76%;
		
		opacity: 0;
  		transition: opacity 1s;
  		-webkit-transition: opacity 1s;
}

/*-----------------------Image-slider------------------------*/
	
::-moz-selection {		/*Avoid blue color double-click selection*/
    background: none;
    color: none;
    text-shadow: none;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {			/*Avoid blue color double-click selection*/
    background: none;
    color: none;
    text-shadow: none;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#thumbnails{
	cursor: pointer;
	position: absolute;
	bottom: 12%;
	left: 5%;
	font-size: 13px;
	text-decoration: underline;
	color: black;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
}

#PN{
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	left: 5%;
	font-size: 13px;
	text-decoration: underline;
	color: black;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
}

span a:visited {
	color:black;
}




	
#slider {
	width: 100%;
	height: 100%;
	position:relative;
	margin-left:1%;
	margin-bottom:0px;
	vertical-align:central;
	text-align:center;
}

#image {
	width: 100%;
	height: 100%;
	display:block;
	position:relative;
}
	
.left_hold {
	max-width: 150px;
	max-height: 650px;
	height:100%;
	width: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	max-width: 150px;
	max-height: 650px; /*600px;*/
	height:100%; /*90%;*/
	width: 100%;
	position:absolute;
	top: 0px;/*50px;*/
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:50%;/*270px;*/
	left:25px;
	opacity:0.25;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:50%;/*220px;*/
	right:25px;
	opacity:0.25;
	transition: all .2s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:1;
	}
.right_hold:hover .right {
	opacity:1;
}
/*.close{
	position:absolute;
	right:1%;
	top: 1%;
}*/
.divclose {
	max-width: 100px;
	max-height: 50px;
	height:100%;
	width: 100%;
	position:absolute;
	top: 0px;
	right: 0px;
}
.imgclose {
	height:35px;
	width:35px;
	position:absolute;
	top:10px;
	right:31px;
	opacity:0.01;
	transition: all .2s ease-in-out 0s;
	}
	
.divclose:hover .imgclose {
	opacity:1;
}



/*------Media------*/


	@media screen and (max-width:1199px) {
	
		#horizontal_line {
			width:350px;
		}
	
		#maincontent {
			width:99%;
			margin-bottom:1%;
		}
		
		#slider {
			margin-left: 0%;
		}
		
		.imgclose {
			opacity:0.1;
		}
		
		
		
		/*for "left/right/top/bottom: auto;" ,the inherited attribute value is actually overriden*/
		
		#thumbnails{
			left: auto; 
			right: 13%;
			bottom: auto;
			top: 23%;
		}
	
		#PN{			
			left: auto;
			right: 13%;
			bottom: auto;
			top: 30%;
		}
	}